{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Welcome!</h1>
        {{#if user}}
        <h2>This is your Home Page!</h2>
        <a href="/logout" class="btn btn-success">Log Out</a>
        <a href="/users" class="btn btn-success">My Info</a>
        <a href="/authors" class="btn btn-success">Create Employee</a>
        <a href="/cms" class="btn btn-success">Create a Table</a>
        <a href="/blog" class="btn btn-success">Table List</a>
        {{else}}
        <p>Please <a href="/login">log in</a>.</p>
        {{/if}}
      </div>
    </div>
  </div>
</div> --}}

<div id="home">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#if user}}
        <h2>This is your Home Page!</h2>
        <a href="/logout" class="btn btn-success">Log Out</a>
        <a href="/users" class="btn btn-success">Your Login Info</a>
        <a href="/authors" class="btn btn-success">Employee List</a>
        <a href="/blog" class="btn btn-success">Table List</a>
        {{!-- <a href="/cms" class="btn btn-success">Create...</a> --}}
        {{else}}
        <p>Please <a href="/login">log in</a>.</p>
        {{/if}}
      </div>
    </div>
  </nav>
</div>

<!-- <h1>Restaurant</h1>

<div class="row">
  <div class="col-6">
    <h2>Open Table area...</h2>

    <ul>
      {{#each burger}}
      {{#unless devoured}}
      <li>
        <h3>Table Number {{table_number}}</h3>
        <h4>Food</h4>
        <button class="eat" data-id="{{id}}">Add</button>
        <button class="eat" data-id="{{id}}">Delete</button>
        <h4>Drinks</h4>
        <button class="eat" data-id="{{id}}">Add</button>
        <button class="eat" data-id="{{id}}">Delete</button>
        <h4>Checkout</h4>
        <button class="eat" data-id="{{id}}">Checkout</button>
      
      <form class="create-form">

  <div class="form-group">
    <label for="ca">Table Number:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="add">Add</button>
</form>
      {{/unless}}
      {{/each}}
    </ul>
    </li>
  </div>


  <div class="col-6">
    <h2>Closed Table Area...</h2>
    <ul>
      {{#each burger}}
      {{#if devoured}}
      <li>
        {{burger_name}}
        <h3>Closed</h2>
        <ul>
          {{#each burger}}
          {{#if devoured}}
          <li>
            {{burger_name}}
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<form class="create-form">

  <div class="form-group">
    <label for="ca">Table Number:</label>
    <input type="text" id="burger" name="name">
  </div>
  <button id="add">Add</button>
</form> -->